@import url(droparea.css);

input, textarea, select {
  /* tira a setinha do select */
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);

  padding: .75rem 1rem;

  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  /* display block pq label seria inline */
  display: block;
  margin-bottom: .25rem;
}

/* toda vez que clicar em um desses inputs trocar cor*/
input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-highlight);
  /* manipulando para o uso ser aplicado no safari */
  outline-offset: .1px;
}

/* trocando o icone de calendario do input date */
input[type="date"] {
  position: relative;
  
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    background-image: url(../../assets/icons/calendar-03.svg) center/contain;
    right: 1rem;
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg)
  no-repeat calc(100% - 1rem); /* recuando 1 rem */
}